<nav style="font-size: x-large; display: flex; gap: 20px">
  <a href="/">Home</a>
  <a href="/new">Add Car</a>
  <a href="/cars">Car List</a>
  <a href="/cars/update/">Update Car</a>
  <a href="/cars/delete/">Delete Car</a>
</nav>
