<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
  </head>
  <body>
    <%- include('../partials/navbar.ejs') %>
    <h1>
      Welcome! Click on the links above to start performing CRUD Operations!
    </h1>
  </body>
</html>
