<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Car Form</title>
  </head>
  <body>
    <nav style="font-size: x-large; display: flex; gap: 20px">
      <a href="/">Home</a>
      <a href="/new">Add Car</a>
      <!-- Add more links as needed -->
    </nav>
    <h1>
      Welcome! Click on the links above to start performing CRUD Operations!
    </h1>
  </body>
</html>
